.App {
  min-height: 208px;
  max-height: 478px;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

.pageLayout {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

.removeLinkStyle {
  text-decoration: none;
  outline: none;
}

.divider {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contentWrapperSmall {
  margin-top: 1rem;
}

.contentWrapperBig {
  margin-top: 2rem;
}

