@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

body {
  margin: 0;
  height: fit-content;
  background-color: transparent;
}

.accNumber,
.paymentDue,
.payment,
.endDate {
  text-align: center;
}

.payment {
  color:red;
  font-weight: bold;
}

.accNumber {
  font-weight: bold;
}

@media (min-width:760px) {
  .creditAppContainer {
    border-left: 1px solid #000000;
  }
}

.slick-next {
  right: 20%;
  z-index: 1;
}

.slick-prev {
  left: 20%;
  z-index: 1;
}

.slick-prev:before {
  color:#000000;
}
.slick-next:before {
  color:#000000;
}
